* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
    background: url('bg.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.logo-container {
    margin-bottom: 20px;
}

.sd-logo {
    width: 150px;
    height: auto;
}

.text-container h1 {
    font-size: 3.5rem;
    font-weight: 400;
    color: #333;
    margin-bottom: 20px;
}

.text-container p {
    font-size: 1.4rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
    font-weight: 300;
}

.footer {
    margin-top: 30px;
    font-size: 1rem;
    color: #777;
    font-weight: 300;
}

@media screen and (max-width: 768px) {
    .sd-logo {
        width: 120px;
    }

    .text-container h1 {
        font-size: 2.8rem;
    }

    .text-container p {
        font-size: 1.2rem;
    }

    .main-container {
        padding: 15px;
    }
}

@media screen and (max-width: 480px) {
    .sd-logo {
        width: 100px;
    }

    .text-container h1 {
        font-size: 2.5rem;
    }

    .text-container p {
        font-size: 1rem;
    }

    .main-container {
        padding: 10px;
    }

    .footer {
        font-size: 0.9rem;
        margin-top: 30px;
    }
}
